@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Roles";
}

<h2>Roles</h2>
<p>
    <a asp-action="Create">Create New Role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role</th>
            <th>Users</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var role in Model)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                    <td>user name </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@role.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@role.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
