@model CmsShopingCart.Models.ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "_MyLayout";
}
<!--/ForgotPassword -->
<section class="banner-bottom">
    <div class="container">
        <div class="content-grid">
            <div class="text-center icon">
                <span class="fa fa-unlock-alt"></span>
            </div>
            <div class="content-bottom">
                <h2 class="text-center">Reset Password</h2>
                <hr />
                <form asp-action="ResetPassword">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="field-group">
                        <div class="content-input-field">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="content-input-field">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <input type="hidden" asp-for="Email" class="form-control" />
                    <input type="hidden" asp-for="Token" class="form-control" />
                    <div class="content-input-field">
                        <button type="submit" class="btn">ForgotPassword</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<!-- /ForgotPassword -->
<!--/shipping-->
<partial name="ThemeComponent/_Shipping" />
<!--Footer-->
<partial name="ThemeComponent/_Footer" />


@*<div class="row">
    <div class="col-md-10">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Email" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@
