@{
    Layout = null;
}
<!--/banner-bottom -->
<section class="collections">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 ab-content-img">

            </div>
            <div class="col-md-4 ab-content text-center p-lg-5 p-3 my-lg-5">
                <h4>Travel Must Haves</h4>
                <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.</p>
                <a asp-area="" asp-controller="Product" asp-action="Index" class="btn shop mt-3">Shop Now</a>

            </div>
        </div>
    </div>
</section>
<!-- /banner-bottom -->