@{
    Layout = null;
}
<!--/banner-->
<div class="banner-wthree-info container">
    <div class="row">
        <div class="col-lg-5 banner-left-info">
            <h3>The Largest Range <span>of HandBags</span></h3>
            <a asp-area="" asp-controller="Product" asp-action="Index" class="btn shop">Shop Now</a>
        </div>

        <div class="col-lg-7 banner-img">
            <img src="~/assets/images/bag.png" alt="part image" class="img-fluid">
        </div>
    </div>
</div>
<!-- //banner-->