@{
    Layout = null;
}
<!--/collections -->
<section class="banner-bottom py-5">
    <div class="container py-md-5">

        <h3 class="title-wthree mb-lg-5 mb-4 text-center">Safety Meets Style </h3>
        <div class="row text-center">


            <div class="col-md-4 content-gd-wthree">
                <img src="~/assets/images/c1.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-md-4 content-gd-wthree ab-content py-lg-5 my-lg-5">
                <h4>Need Extra Space ?</h4>
                <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.</p>
                <a asp-area="" asp-controller="Product" asp-action="Index" class="btn shop mt-3">Shop Now</a>

            </div>
            <div class="col-md-4 content-gd-wthree">
                <img src="~/assets/images/c2.jpg" class="img-fluid" alt="" />
            </div>
        </div>

    </div>
</section>
<!-- //collections-->