@{
    Layout = null;
}
<!-- footer -->
<div class="footer_agileinfo_topf py-5">
    <div class="container py-md-5">
        <div class="row">
            <div class="col-lg-3 footer_wthree_gridf mt-lg-5">
                <h2>
                    <a href="/">
                        <span>B</span>aggage
                    </a>
                </h2>
                <label class="sub-des2">Online Store</label>
            </div>
            <div class="col-lg-3 footer_wthree_gridf mt-md-0 mt-4">
                <ul class="footer_wthree_gridf_list">
                    <li>
                        <a href="/"><span class="fa fa-angle-right" aria-hidden="true"></span> Home</a>
                    </li>
                    <li>
                        <a href="/about"><span class="fa fa-angle-right" aria-hidden="true"></span> About</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Product" asp-action="Index"><span class="fa fa-angle-right" aria-hidden="true"></span> Shop</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Product" asp-action="Index"><span class="fa fa-angle-right" aria-hidden="true"></span>Collections</a>
                    </li>

                </ul>
            </div>
            <div class="col-lg-3 footer_wthree_gridf mt-md-0 mt-sm-4 mt-3">
                <ul class="footer_wthree_gridf_list">
                    <li>
                        <a href="/"><span class="fa fa-angle-right" aria-hidden="true"></span> Extra Page</a>
                    </li>

                    <li>
                        <a href="#"><span class="fa fa-angle-right" aria-hidden="true"></span> Terms & Conditions</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Product" asp-action="Index"><span class="fa fa-angle-right" aria-hidden="true"></span> Shop Single</a>
                    </li>
                    <li>
                        <a href="contact"><span class="fa fa-angle-right" aria-hidden="true"></span> Contact Us</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 footer_wthree_gridf mt-md-0 mt-sm-4 mt-3">
                <ul class="footer_wthree_gridf_list">
                    <li>
                        <a asp-controller="Account" asp-action="Login"><span class="fa fa-angle-right" aria-hidden="true"></span> Login </a>
                    </li>

                    <li>
                        <a asp-controller="Account" asp-action="Register"><span class="fa fa-angle-right" aria-hidden="true"></span>Register</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-angle-right" aria-hidden="true"></span>Privacy & Policy</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="w3ls-fsocial-grid">
            <h3 class="sub-w3ls-headf">Follow Us</h3>
            <div class="social-ficons">
                <ul>
                    <li><a href="#"><span class="fa fa-facebook"></span> Facebook</a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span> Twitter</a></li>
                    <li><a href="#"><span class="fa fa-google"></span>Google</a></li>
                </ul>
            </div>
        </div>
        <div class="move-top text-center mt-lg-4 mt-3">
            <a href="#home"><span class="fa fa-angle-double-up" aria-hidden="true"></span></a>
        </div>
    </div>
</div>
<!-- //footer -->
<!-- copyright -->
<div class="cpy-right text-center py-3">
    <p>
        © 2019 Baggage. All rights reserved | Design by
        <a href="#"> Asia Khan.</a>
    </p>

</div>
<!-- //copyright -->