@{
    Layout = null;
}
<!--/gallery -->
<section class="banner-bottom py-5">
    <div class="container py-md-5">


        <div class="row">
            <div class="col-lg-4 gallery-content-info text-center mt-lg-5">
                <h3 class="title-wthree mb-lg-5 mb-4">Trending Now </h3>
                <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.</p>
                <a href="shop.html" class="btn shop mt-3">Shop Now</a>

            </div>
            <div class="col-lg-8 gallery-content">
                <div class="row">
                    <div class="col-md-4 col-sm-6 gal-img">
                        <a href="#gal1"><img src="~/assets/images/g1.jpg" alt="Baggage" class="img-fluid mt-4"></a>
                    </div>
                    <div class="col-md-4 col-sm-6 gal-img">
                        <a href="#gal2"><img src="~/assets/images/g2.jpg" alt="Baggage" class="img-fluid mt-4"></a>
                    </div>
                    <div class="col-md-4 col-sm-6 gal-img">
                        <a href="#gal3"><img src="~/assets/images/g3.jpg" alt="Baggage" class="img-fluid mt-4"></a>
                    </div>
                    <div class="col-md-4 col-sm-6 gal-img">
                        <a href="#gal1"><img src="~/assets/images/g4.jpg" alt="Baggage" class="img-fluid mt-4"></a>
                    </div>
                    <div class="col-md-4 col-sm-6 gal-img">
                        <a href="#gal2"><img src="~/assets/images/g5.jpg" alt="Baggage" class="img-fluid mt-4"></a>
                    </div>
                    <div class="col-md-4 col-sm-6 gal-img">
                        <a href="#gal3"><img src="~/assets/images/g6.jpg" alt="Baggage" class="img-fluid mt-4"></a>
                    </div>

                </div>
                <!-- gallery popups -->
                <!-- popup-->
                <div id="gal1" class="popup-effect">
                    <div class="popup">
                        <img src="~/assets/images/g1.jpg" alt="Popup image" class="img-fluid mt-4" />
                        <a class="close" href="#gallery">&times;</a>
                    </div>
                </div>
                <!-- //popup -->
                <!-- popup-->
                <div id="gal2" class="popup-effect">
                    <div class="popup">
                        <img src="~/assets/images/g2.jpg" alt="Popup image" class="img-fluid mt-4" />
                        <a class="close" href="#gallery">&times;</a>
                    </div>
                </div>
                <!-- //popup -->
                <!-- popup-->
                <div id="gal3" class="popup-effect">
                    <div class="popup">
                        <img src="~/assets/images/g3.jpg" alt="Popup image" class="img-fluid mt-4" />
                        <a class="close" href="#gallery">&times;</a>
                    </div>
                </div>
                <!-- //popup -->
                <!-- //gallery popups -->

            </div>
        </div>

    </div>
</section>
<!-- //gallery-->