@{
    Layout = null;
}
<!-- /mid-section -->
<section class="mid-section">
    <div class="d-lg-flex p-0">
        <div class="col-lg-6 bottom-w3pvt-left p-lg-0">
            <img src="~/assets/images/ab1.jpg" class="img-fluid" alt="" />
            <div class="pos-wthree">
                <h4 class="text-wthree">50% Off Any <br> Women's Bags</h4>
                <a  asp-area="" asp-controller="Product" asp-action="Index" class="btn shop mt-3">Shop Now</a>
            </div>
        </div>
        <div class="col-lg-6 bottom-w3pvt-left bottom-w3pvt-right p-lg-0">
            <img src="~/assets/images/ab2.jpg" class="img-fluid" alt="" />
            <div class="pos-w3pvt">
                <h4 class="text-w3pvt">30% Off Any <br> Men's Bags</h4>
                <a  asp-area="" asp-controller="Product" asp-action="Index" class="btn shop mt-3">Shop Now</a>
            </div>
        </div>
    </div>
</section>
<!-- //mid-section -->