@{
    Layout = null;
}
<!--/newsletter -->
<section class="newsletter-w3pvt py-5">
    <div class="container py-md-5">
        <form method="post" action="#">
            <p class="text-center">Subscribe to the Handbags Store mailing list to receive updates on new arrivals, special offers and other discount information.</p>
            <div class="row subscribe-sec">
                <div class="col-md-9">
                    <input type="email" class="form-control" id="email" placeholder="Enter Your Email.." name="email" required="">

                </div>
                <div class="col-md-3">

                    <button type="submit" class="btn submit">Subscribe</button>
                </div>

            </div>
        </form>
    </div>
</section>
<!--//newsletter -->