@model CmsShopingCart.Models.CartViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (Model.CartItems.Count > 0)
{
<div>
    <h4>Cart View</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.GrandTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.GrandTotal)
        </dd>
    </dl>  
</div>
}
else { 
    <h3 class="display-4 text-center">Your cart is empty</h3>
}
