@model IEnumerable<CmsShopingCart.Models.Page>
@foreach (var item in Model)
{
<li>
    <a class="" asp-area="" asp-controller="pages" asp-action="Page" asp-route-slug="@item.Slug">
        @item.Title
    </a>
</li>
    @*<li class="nav-link">
        <a class="nav-link text-dark" asp-area="" asp-controller="pages" asp-action="Page" asp-route-slug="@item.Slug">
            @item.Title
        </a>
    </li>*@
}