@{
    Layout = null;
}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">Baggage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1 justify-content-end">
               
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="Edit" class="btn btn-primary">
                            <i class="bi bi-person-circle"></i> My Account
                        </a>
                    </li>

                    @if (User.IsInRole("admin") || User.IsInRole("editor"))
                    {

                        <li class="nav-item ml-1">

                            <a asp-area="Admin" asp-controller="Pages" asp-action="Index" class="btn btn-success">
                                <i class="bi bi-people"></i> Switch Account
                            </a>
                        </li>
                    }
                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="Logout" class="btn btn-danger ml-1">
                            Hi,
                            @User.Identity.Name, Logout
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="Login" class="btn btn-success">Login</a>
                    </li>
                    <li class="nav-item ml-1">
                        <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Register</a>
                    </li>
                }

            </ul>
            <ul class="navbar-nav flex-grow-1">
                @await Component.InvokeAsync("MainMenu")
            </ul>
        </div>
    </div>
</nav>
